[Unit]
Description=Kubectl Port Forward 8096
Wants=network-online.target
After=network-online.target

[Service]
User=vagrant
Group=vagrant
Type=simple
ExecStart=/bin/bash -c "kubectl port-forward service/jellyfin-service -n jellyfin --address 0.0.0.0 8096:8096"
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
